<!DOCTYPE html>
<html>
<head>
  <title>DogsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
    <li><%= link_to('Dogs', dogs_path) %></li>
    <li><%= link_to('New Dog', new_dog_path) %></li>
  </nav>
</header>

<%= yield %>

</body>
</html>
